.idea

_site/webserver/index.html
_site/vote/index.html
_site/static/pairwise_rate.csv
_site/static/js/page_setup.js
_site/static/img/wrench.png
_site/static/img/sponsor_logos/tradebot_logo.png
_site/static/img/sponsor_logos/sentry-logo.png
_site/static/img/sponsor_logos/microsoft.png
_site/static/img/sponsor_logos/lumate.png
_site/static/img/sponsor_logos/logo_jetbrains.gif
_site/static/img/sponsor_logos/github.png
_site/static/img/sponsor_logos/garmin_logo_pms285_rgb.jpg
_site/static/img/sponsor_logos/att_logo.png
_site/static/img/sponsor_logos/BATS_logo.png
_site/static/img/favicon.ico
_site/static/img/content/win_rates.png
_site/static/img/content/question_mark.png
_site/static/img/content/Saloon.png
