---
---
/*===== RECENT BLOG DESIGN =====*/

.blog_header {
  //Changing design for the recent blog posts header
}

.latestcont {
  margin-top: 21px;
  border-right: solid;
}
ul.latestblog {
  list-style-type: none;
}

img {
  vertical-align: top;
  height: 10em;
  float: left;
  padding-right: 40px;
}

.title {
  padding-bottom: 5px;
}