---
---
  /*===== GLOBAL DESIGN =====*/
a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  text-decoration: none;
  color: #333333;
}

/*===== NAVBAR DESIGN =====*/
.navbar-default
{
	background-color: #333;
	border: none;
}
.navbar {
  margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.btn-success {
	background-color: #333;
}

.dropdown-menu {
    background-color: #333;
		color: rgb(255, 255, 255);
}

.dropdown-menu>li>a {
	color: rgb(255, 255, 255);
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
		background-color: rgba(255, 255, 255, 0.1);
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/*===== JUMBOTRON DESIGN =====*/

.jumbotron {
  background-image: url("{{ site.static_url }}img/DSC_0014.JPG");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin-bottom: 0%;
}

.jumbo_text {
  text-align: center;
  top: 50%;
}
/*===== Scroll =====*/



/*===== SPONSORS =====*/
.sponsors_header {
  //Changing header style for the sponsor section
}

.sponsors_list {
  margin-right: 15%;
  margin-left: 15%;
}

.sponsors_thumbnail {
  border: none;
}


/*===== FOOTER =====*/
.footer {
  background: #222222 none repeat scroll 0 0;
  border-top: 4px solid #333333;
  margin: 0;
  margin-top: 30px;
  padding-bottom: 10px;
}

.footer_heads {
  color: #fff;
}

.footer_dv ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.footer_dv > ul > li > a {
  color: #fff;
}