<!doctype html>
{% include mainhead.html %}
<div>
  {% include navbar.html %}

  <!--JUMBOTRON-->
  <div class="jumbotron">
  <div class="container">
    <h1>Sig-Game</h1>
    <p>SIG-Game is a special interest group for Missouri S&T students that develops and hosts artificial intelligence
        programming competitions on S&T's campus in Rolla, Missouri.</p>
  </div>
  </div>
</div>

  <!--Recent Blog Posts-->
  <div class="container">
  <div class="row recentblog">
      <div class="container-fluid sponsors_header">
          <div class="row">
              <h1 class="text-center">Latest Post</h1>
          </div>
      </div>
      {% for post in site.posts limit:1 %}
      <div class="col-sm-6 col-md-12">
          <h3 class="text-center">{{ post.title }}</h3>
          <a href="{{ base }}{{ post.url }}">{{ post.content }}</a>
          {% endfor %}
      </div>
  </div>
  </div>

  <!--Sponsors Section-->
  <div class="container-fluid sponsors_header">
      <div class="row">
          <h1 class="text-center">Our Sponsors</h1>
      </div>
  </div>
  {% for sponsor in site.data.sponsors %}
  {% assign count = forloop.index0 | modulo:3 %}
  {% if count == 0 %}<div class="row sponsors_list">{% endif %}
      <div class="col-xs-12 col-sm-4">
          <a href="/sponsors/#{{ sponsor.id }}" class="thumbnail sponsors_thumbnail">
              <img data-src="holder.js/300%x200" alt="{{ sponsor.name }}"
                   src="{{ site.static_url }}imgs/sponsor_logos/{{ sponsor.image }}">
          </a>
      </div>
      {% if count == 2 or forloop.index == forloop.length %}</div>{% endif %}
  {% endfor %}

<!-- If we use the above Blog Post layout, this block of code will be useless. -->
<!-- TODO: Replace with an actual footer w/ GitHub info, etc. -->


{% include footer.html %}


  <!-- Scripts -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="{{ site.static_url }}js/page_setup.js" type="text/javascript"></script>




</body>
</html>

