<!doctype html>
{% include mainhead.html %}

{% include navbar.html %}
<body>
<div>
  <!--JUMBOTRON-->
  <div class="jumbotron">
  <div class="container">
    <div class="namespace">
      <img src="{{ site.static_url }}img/brand.svg"/>
      <!--<h1>SIG-Game</h1>-->
    </div>

    <p>SIG-Game is a special interest group for Missouri S&T students that develops and hosts artificial intelligence
        programming competitions on S&T's campus in Rolla, Missouri.</p>
  </div>
  </div>
</div>

  <!--Recent Blog Posts-->
  <div class="container blogcontainer">
  <div class="row recentblog">
      <div class="container-fluid sponsors_header">
          <div class="row">
              <h1>Recent Updates:</h1>
          </div>
      </div>
      {% for post in site.posts limit:1 %}
      <div class="col-md-12 post">
          <a href="{{ base }}{{ post.url }}" class="postTitleLink">
              <h3 class="postTitleHeader">{{ post.title }}</h3>
          </a>
          {{ post.content }}
          {% endfor %}
      </div>
  </div>
  </div>
  <br>
  <!--Who Are We Section-->
  <div class="aboutsection container">
      <div class="container-fluid">
      </div>
      <p> </p>
      <h1>What is SIG-Game?</h1>
      <p>SIG Game is a student operated organization dedicated to developing an AI vs AI game to be hosted at the biggest programming competition in Rolla, MegaMinerAI. We utilize many programming languages, tools and development strategies standard to the Computer Science Industry. Our members gain valuable experience on one of our five development teams: Arena, Game, Public Relations, Visualizer, and Web. SIG-Game offers experience working on a real team, with fellow students and mentors to learn and grow as a software developer. We accept new members of all skill levels and majors, so don't hesitate to contact us.</p>
  </div>

  <!--Sponsors Section-->
  <div class="sponsorcontainer container">
    <div class="container-fluid sponsors_header">
        <div class="row">
            <h1 class="">Our Sponsors</h1>
        </div>
    </div>
      <div class="sponsorspot">
      {% for sponsor in site.data.sponsors %}
      {% assign count = forloop.index0 | modulo:3 %}
          <div class="sponsor col-md-4 col-sm-6 col-xs-12">
              <a href="/sponsors/#{{ sponsor.id }}" class="thumbnail sponsors_thumbnail">
                  <img data-src="holder.js/300%x200" alt="{{ sponsor.name }}"
                       src="{{ site.static_url }}img/sponsor_logos/{{ sponsor.image }}">
              </a>
          </div>
          <!--{% if count == 2 or forloop.index == forloop.length %}</div>{% endif %}-->
      {% endfor %}
      </div>
  </div>

<!-- If we use the above Blog Post layout, this block of code will be useless. -->
<!-- TODO: Replace with an actual footer w/ GitHub info, etc. -->


{% include footer.html %}


  <!-- Scripts -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="{{ site.static_url }}js/page_setup.js" type="text/javascript"></script>




</body>
</html>

